html{
    font-size: 62.5%;
}
body{
    font: 1.6rem sans-serif; 
    font-family: 'Roboto', sans-serif;
    background-color: #2d3436ff;
    margin: 0;
    line-height: 1.6;
}
h1,h2,ul,p{
    margin: 0;
    padding: 0;
    list-style: none;
}
h1{
    background-color: #dfe6e9ff;
    text-align: center;
    font-weight: 100;
}
h1 img{
    height: 2.5rem;
    width: 2.5rem;
}
nav{
    background-color: #fff;
    text-align: center;
}
nav ul {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 40%;
    margin: 0 auto 0 auto;
}

section{
    position: relative;
    width: 90rem;
    height: 40rem;
    background-color: #fff;
    margin: 5rem auto;
}
section figure {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
section figure figcaption h2{
   font-size: medium;
}
section figure figcaption h2,section figure figcaption p{
    padding-bottom: 2rem;
}

section figure figcaption li{
    padding-bottom: 1rem;
}
footer{
    width: 100rem;
    text-align: center;
    background-color: #f1f1f1;
    position: fixed;
    bottom: 0;

}